<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="responseSavePath" value="%userprofile%\Documents"/>
    <add key="wsUserName" value=""/>
    <add key="wsPassword" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProductDataServiceBinding" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="PricingAndConfigurationServiceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="MediaContentServiceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="MediaContentServiceBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ppds.hitpromo.net/pricingAndConfiguration?ws=1"
                binding="basicHttpBinding" bindingConfiguration="PricingAndConfigurationServiceBinding"
                contract="WSPricingAndConfiguration.PricingAndConfigurationService"
                name="PricingAndConfigurationServiceBinding" />
          <!--Debco-->
            <endpoint address="https://services.debcobag.com/PromoStandards/DebcoProductData.svc"
                binding="basicHttpBinding" bindingConfiguration="ProductDataServiceBinding"
                contract="WSProductData.ProductDataService" name="ProductDataServiceDebco" />
            <endpoint address="https://services.debcobag.com/promostandardsreview/DebcoProductPricingConfiguration.svc"
                binding="basicHttpBinding" bindingConfiguration="ProductDataServiceBinding"
                contract="WSPricingAndConfiguration.PricingAndConfigurationService" name="ProductPricingServiceDebco" />
          <endpoint address="https://services.debcobag.com/PromoStandards/DebcoMediaContent.svc"
                binding="basicHttpBinding" bindingConfiguration="MediaContentServiceBinding"
                contract="WSMediaContent.MediaContentService" name="ProductMediaServiceDebco" />
          <!--Cap America-->
            <endpoint address="https://www.capamerica.com/promostandards-api/?api=prod"
                binding="basicHttpBinding" bindingConfiguration="ProductDataServiceBinding"
                contract="WSProductData.ProductDataService" name="ProductDataServiceCapAm" />
            <endpoint address="https://www.capamerica.com/promostandards-api/?api=config"
                binding="basicHttpBinding" bindingConfiguration="ProductDataServiceBinding"
                contract="WSPricingAndConfiguration.PricingAndConfigurationService" name="ProductPricingServiceCapAm" />
          <!--PCNA-->
          <endpoint address="https://psproductdata100-stg.pcna.online"
                binding="basicHttpBinding" bindingConfiguration="ProductDataServiceBinding"
                contract="WSProductData.ProductDataService" name="ProductDataServicePcna" />
            <endpoint address="https://pspriceconfig100.pcna.online/"
                binding="basicHttpBinding" bindingConfiguration="ProductDataServiceBinding"
                contract="WSPricingAndConfiguration.PricingAndConfigurationService" name="ProductPricingServicePcna" />
          <endpoint address="https://psmediacontent110.pcna.online/psMediaContent.svc?singleWsdl"
                binding="basicHttpBinding" bindingConfiguration="MediaContentServiceBinding"
                contract="WSMediaContent.MediaContentService" name="ProductMediaServicePcna" />
          <!--Starline-->
          <endpoint address="https://services.starline.com/CustomerProductDataService/CustomerProductDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="ProductDataServiceBinding"
                contract="WSProductData.ProductDataService" name="ProductDataServiceStarline" />
            <endpoint address="https://services.starline.com/ppc/PricingAndConfiguration.svc"
                binding="basicHttpBinding" bindingConfiguration="ProductDataServiceBinding"
                contract="WSPricingAndConfiguration.PricingAndConfigurationService" name="ProductPricingServiceStarline" />
          <endpoint address="https://services.starline.com/MediaContentService/MediaContentService.svc"
                binding="basicHttpBinding" bindingConfiguration="MediaContentServiceBinding"
                contract="WSMediaContent.MediaContentService" name="ProductMediaServiceStarline" />
            <endpoint address="https://ppds.hitpromo.net/productMedia?ws=1"
                binding="basicHttpBinding" bindingConfiguration="MediaContentServiceBinding"
                contract="WSMediaContent.MediaContentService" name="MediaServiceBinding" />
        </client>
    </system.serviceModel>
</configuration>